 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     --sidebar: rgb(11, 133, 255);
     --main: rgb(205, 205, 205);
 }

 .container {
     height: 100vh;
     display: grid;
     grid-template: 1fr 5fr / 1fr 5fr;
 }

 .sidebar {
     background-color: var(--sidebar);
     grid-area: 1/1/3/2;
 }

 .main {
     background-color: var(--main);
 }

 .header {
     box-shadow: 0 5px 8px darkgray;
     z-index: 1;
 }